

body {
    font-family: 'Raleway', sans-serif;
font-size: 18px;


}
ul {
  list-style: none; /* Remove default bullets */
}

.form-control{
  background: none;
  border-color: #db195e;
}
.form-control:focus{
  background: none;
}

.listmast li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color:#db195e; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

.containerM{
    margin-top: 50px;
}
.card{
  border-color: #db195e;
 
}



.form-control:focus{
  border-color: #db195e;
  box-shadow: none;
}

.navbar{
    background: #db195e;
    font-size: 18px;
    font-weight: 300;
 

}

.alert{
  display: none;
}

label{
  color: #db195e;
  font-weight: 500;
}

.color{
  color:#db195e;
}

.parent {
    position: relative;
    top: 10px;
    left: 0;
  }
  .image1 {
    position: relative;
    top: 0;
    left: 0;
   
  }
  .image2 {
    position: absolute;
    z-index: -3;
    right: 50;
    left: 50;
   
  }

  .rotate {
    animation: rotation 10s infinite linear;
  }
  
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

.headtext{

  font-weight: 300;
  font-size: 25px;
  margin-top:70px;

}

.heads{
 
  font-weight: 300;
  font-size: 50px;
}

/***/

#button {
  display: inline-block;
  background-color: #FF9800;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#button:hover {
  cursor: pointer;
  background-color: #333;
}
#button:active {
  background-color: #555;
}
#button.show {
  opacity: 1;
  visibility: visible;
}



.video {
  height: 0;
  padding-bottom: 42.6%;
  position: relative;
}
.video__frame {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: auto;
}
.video iframe {
  width: 100%;
  height: 100%;
  box-shadow: 0 0 40px #000;
}
.contain {
  position: relative;
  width: 90%;
  margin: 10vh auto;
}
