<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../CSS/home.css">
    <link rel="stylesheet" href="../CSS/hamB.css">
    
    <title>Rotaract SRM</title>
    
  </head>
  <body>
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark">
        <button style="border: none; outline: none;" class="hamburger hamburger--3dy js-hamburger d-block d-lg-none" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="hamburger-box">
              <span class="hamburger-inner"></span>
            </span>
          </button>
        <a class="navbar-brand" href="#"><img src="../Images/Rotaract-White.png" height="50px" width="240px"></a>
      
     
        <div class="collapse navbar-collapse " id="navbarTogglerDemo03">
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0 text-center text-lg-left">
              <li class="nav-item active mx-3">
                <a class="nav-link" href="#">Home</span></a>
              </li>
              <li class="nav-item mx-3">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item mx-3">
                <a class="nav-link" href="#">Disabled</a>
              </li>
            </ul>
          </div>
    
      </nav>
    <div class="container">
        <div class="parent text-center d-block d-lg-none">
            <img class="image2 rotate" src="../Images/rotate.png" width="300px" height="300px"/>
            <img class="image1" src="../Images/notrotate.png" width="300px" height="300px" />
          </div>
          <div class="parent text-center d-none d-lg-block">
            <img class="image2 rotate" src="../Images/rotate.png" width="450px" height="450px"/>
            <img class="image1" src="../Images/notrotate.png" width="450px" height="450px" />
          </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="../JS/home.js"></script>
  </body>
</html>