<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="../Images/Rotary_International.png" />
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../CSS/hover.css">
    <link rel="stylesheet" href="../CSS/hamB.css">
    <link rel="stylesheet" href="../CSS/team.css">
    <link rel="stylesheet" href="../CSS/home.css">
    <link rel="stylesheet" href="../CSS/projects.css">

    
    <title>Rotaract SRM - Team</title>
    
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <button style="border: none; outline: none;" class="hamburger hamburger--3dy js-hamburger d-block d-lg-none" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="hamburger-box">
              <span class="hamburger-inner"></span>
            </span>
          </button>
        <a class="navbar-brand" href="./index.html"><img src="../Images/Rotaract-White.png" height="50px" width="240px"></a>
      
     
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0 text-center text-lg-left">
              <li class="nav-item active mx-3">
                <a class="nav-link hvr-underline-from-center" href="./index.html">Home</span></a>
              </li>
              <li class="nav-item active mx-3">
                <a class="nav-link hvr-underline-from-center" href="./team.html">Team</a>
              </li>
              <li class="nav-item active mx-3">
                <a class="nav-link hvr-underline-from-center" href="#">Projects</a>
              </li>
            </ul>
          </div>
    
      </nav>

      
    <div>
        <section class="projects-page-section">
            <div class="container">
                <!-- Sec Title -->
                <div class="sec-title centered">
                    <h1 class="heads"><span style="color:#db195e;font-weight: 700;">O</span>ur <span style="color:#db195e;font-weight: 500;">P</span>rojects</h1>
                    <div class="separator"><span></span></div>
                </div>
            </div>

            <div class="projects-cards">

                <div class="row justify-content-center">
                
                  <figure class="card-design">
                    <div class="image"><img src="../Images/projects/chefrona 2.png" alt="pr-sample23" /></div>
                    <figcaption>
                      <div class="date"><span class="day">16</span><span class="month">Oct</span></div>
                      <h3>Chefrona 2.0</h3>
                      <p>
                  
                        A competition calling all Chefs to present their dishes on the World Food Day.
                      </p>
                    </figcaption>
                    <a href="#"></a>
                </figure>

                <figure class="card-design">
                  <div class="image"><img src="../Images/projects/pcosawareness.png" alt="pr-sample25" /></div>
                  <figcaption>
                    <div class="date"><span class="day">19</span><span class="month">Sept</span></div>
                    <h3>PCOS Awareness</h3>
                    <p>
                      A talk on the immense healing power of Yoga at physical, mental and emotional level.
                    </p>
                  </figcaption>
                  <a href="#"></a>
                </figure>

                
                <figure class="card-design">
                    <div class="image"><img src="../Images/projects/ozoneday.png" alt="pr-sample24" /></div>
                    <figcaption>
                      <div class="date"><span class="day">14</span><span class="month">Sept</span></div>
                      <h3>Call for Artists</h3>
                      <p>
                        An event calling all the artists to design posters about Ozone Awareness.
                      </p>
                    </figcaption>
                    <a href="#"></a>
                </figure>


                

            </div>


            </div>

            
              
        </section>
        <div class="container">
          <hr>
        <section id="footer" class="text-center py-4">
            <img alt="" src="../Images/Rotaract-Red.png" height="50px" width="240px">
               
            
            <ul style="list-style: none; color:#db195e; " class="d-flex justify-content-center my-4">
              <a class="hvr-float"><li class="mx-2"><span class="fa fa-facebook fa-lg"></span></li></a>
              <a class="hvr-float"><li class="mx-2"><span class="fa fa-instagram fa-lg"></span></li></a>
              <a class="hvr-float"><li class="mx-2"><span class="fa fa-envelope fa-lg"></span></li></a>
              <a class="hvr-float"><li class="mx-2"><span class="fa fa-linkedin fa-lg"></span></li></a>
            </ul>

            <p style="font-size:14px">©<span class="color"> Rotaract Club </span>SRM KTR: All Rights Reserved.</p>
            <p style="font-size:16px"><span class="fa fa-code color"></span> by <a target="_blank" style="text-decoration: none; color: #db195e; font-weight: 500;" href="https://codechefsrm.in">CodeChef SRM</a></p>
            <p style="font-size:14px"><span class="fa fa-phone color"></span> Contact<br><a class="my-1" href="callto:+91 80851 79464" style="text-decoration: none; color: #db195e; ">Shubhangi Soni</a><br><a class="my-1" href="callto:+91 70880 37362" style="text-decoration: none; color: #db195e; ">Nishita Verma</a></p>
          </section>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../JS/projects.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="../JS/home.js"></script>
  </body>
</html>